In [2]:
import psycopg2 as pg2
#python-postgre interaction module
import pandas as pd
#dataframes and series
import re
#regex
import logins
conn = pg2.connect(database='dvd_rentals', user=logins.login,password=logins.master_pass)
cur = conn.cursor()
#connect to db and run sql commands to return data
cur.execute("SELECT * FROM film")
#store data locally
x = cur.fetchall()
cur.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'film' ORDER BY ORDINAL_POSITION")
x1 = list()
for i in cur.fetchall():
    x1.append(i[0])
s = pd.Series(x1)
df = pd.DataFrame.from_records(x, columns=s.values)
#creating df from db data
df

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,2013-05-26 14:50:58.951,[Trailers],'chamber':1 'fate':4 'husband':11 'italian':2 ...
1,384,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,2006,1,5,4.99,49,19.99,R,2013-05-26 14:50:58.951,[Behind the Scenes],'australia':18 'cat':8 'drama':5 'epic':4 'exp...
2,8,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,2006,1,6,4.99,54,15.99,R,2013-05-26 14:50:58.951,[Trailers],'airport':1 'ancient':18 'confront':14 'epic':...
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...,2006,1,4,4.99,73,12.99,PG-13,2013-05-26 14:50:58.951,[Trailers],'boat':20 'bright':1 'conquer':14 'encount':2 ...
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,2013-05-26 14:50:58.951,"[Deleted Scenes, Behind the Scenes]",'academi':1 'battl':15 'canadian':20 'dinosaur...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,6,0.99,183,9.99,G,2013-05-26 14:50:58.951,"[Trailers, Behind the Scenes]",'administr':12 'boat':8 'boy':17 'databas':11 ...
996,997,Youth Kick,A Touching Drama of a Teacher And a Cat who mu...,2006,1,4,0.99,179,14.99,NC-17,2013-05-26 14:50:58.951,"[Trailers, Behind the Scenes]",'boat':22 'cat':11 'challeng':14 'drama':5 'ki...
997,998,Zhivago Core,A Fateful Yarn of a Composer And a Man who mus...,2006,1,6,0.99,105,10.99,NC-17,2013-05-26 14:50:58.951,[Deleted Scenes],'boy':16 'canadian':19 'compos':8 'core':2 'fa...
998,999,Zoolander Fiction,A Fateful Reflection of a Waitress And a Boat ...,2006,1,5,2.99,101,28.99,R,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'ancient':19 'boat':11 'china':20 'discov':14 ...
999,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,2013-05-26 14:50:58.951,"[Trailers, Commentaries, Behind the Scenes]","'ark':2 'boy':12,17 'intrepid':4 'mad':8 'mona..."

In [346]:
df.length = df.length.apply(lambda x: str(x)+' minutes')
df.rental_rate = df.rental_rate.apply(lambda x: str(x)+' $')
df.last_update = df.last_update.apply(lambda x: str(x))
df.rental_duration = df.rental_duration.apply(lambda x: str(x) + ' months')
df.replacement_cost = df.replacement_cost.apply(lambda x: str(x) + ' $')
#int format data to str format
df

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7 months,4.99 $,117 minutes,14.99 $,NC-17,2013-05-26 14:50:58.951000,[Trailers],'chamber':1 'fate':4 'husband':11 'italian':2 ...
1,384,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,2006,1,5 months,4.99 $,49 minutes,19.99 $,R,2013-05-26 14:50:58.951000,[Behind the Scenes],'australia':18 'cat':8 'drama':5 'epic':4 'exp...
2,8,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,2006,1,6 months,4.99 $,54 minutes,15.99 $,R,2013-05-26 14:50:58.951000,[Trailers],'airport':1 'ancient':18 'confront':14 'epic':...
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...,2006,1,4 months,4.99 $,73 minutes,12.99 $,PG-13,2013-05-26 14:50:58.951000,[Trailers],'boat':20 'bright':1 'conquer':14 'encount':2 ...
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6 months,0.99 $,86 minutes,20.99 $,PG,2013-05-26 14:50:58.951000,"[Deleted Scenes, Behind the Scenes]",'academi':1 'battl':15 'canadian':20 'dinosaur...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,6 months,0.99 $,183 minutes,9.99 $,G,2013-05-26 14:50:58.951000,"[Trailers, Behind the Scenes]",'administr':12 'boat':8 'boy':17 'databas':11 ...
996,997,Youth Kick,A Touching Drama of a Teacher And a Cat who mu...,2006,1,4 months,0.99 $,179 minutes,14.99 $,NC-17,2013-05-26 14:50:58.951000,"[Trailers, Behind the Scenes]",'boat':22 'cat':11 'challeng':14 'drama':5 'ki...
997,998,Zhivago Core,A Fateful Yarn of a Composer And a Man who mus...,2006,1,6 months,0.99 $,105 minutes,10.99 $,NC-17,2013-05-26 14:50:58.951000,[Deleted Scenes],'boy':16 'canadian':19 'compos':8 'core':2 'fa...
998,999,Zoolander Fiction,A Fateful Reflection of a Waitress And a Boat ...,2006,1,5 months,2.99 $,101 minutes,28.99 $,R,2013-05-26 14:50:58.951000,"[Trailers, Deleted Scenes]",'ancient':19 'boat':11 'china':20 'discov':14 ...
999,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3 months,4.99 $,50 minutes,18.99 $,NC-17,2013-05-26 14:50:58.951000,"[Trailers, Commentaries, Behind the Scenes]","'ark':2 'boy':12,17 'intrepid':4 'mad':8 'mona..."

In [347]:

s1 = df.last_update.str.split(' ')
s1l1 = list()
s1l2 = list()
for i in s1:
    s1l1.append(i[0])
    s1l2.append(i[1])
s1l1,s1l2
df['last_update_date'] = s1l1
df['last_update_time'] = s1l2
#split last_update column in 2 separate columns
df= df.drop(columns='last_update')
df

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,fulltext,last_update_date,last_update_time
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7 months,4.99 $,117 minutes,14.99 $,NC-17,[Trailers],'chamber':1 'fate':4 'husband':11 'italian':2 ...,2013-05-26,14:50:58.951000
1,384,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,2006,1,5 months,4.99 $,49 minutes,19.99 $,R,[Behind the Scenes],'australia':18 'cat':8 'drama':5 'epic':4 'exp...,2013-05-26,14:50:58.951000
2,8,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,2006,1,6 months,4.99 $,54 minutes,15.99 $,R,[Trailers],'airport':1 'ancient':18 'confront':14 'epic':...,2013-05-26,14:50:58.951000
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...,2006,1,4 months,4.99 $,73 minutes,12.99 $,PG-13,[Trailers],'boat':20 'bright':1 'conquer':14 'encount':2 ...,2013-05-26,14:50:58.951000
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6 months,0.99 $,86 minutes,20.99 $,PG,"[Deleted Scenes, Behind the Scenes]",'academi':1 'battl':15 'canadian':20 'dinosaur...,2013-05-26,14:50:58.951000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,6 months,0.99 $,183 minutes,9.99 $,G,"[Trailers, Behind the Scenes]",'administr':12 'boat':8 'boy':17 'databas':11 ...,2013-05-26,14:50:58.951000
996,997,Youth Kick,A Touching Drama of a Teacher And a Cat who mu...,2006,1,4 months,0.99 $,179 minutes,14.99 $,NC-17,"[Trailers, Behind the Scenes]",'boat':22 'cat':11 'challeng':14 'drama':5 'ki...,2013-05-26,14:50:58.951000
997,998,Zhivago Core,A Fateful Yarn of a Composer And a Man who mus...,2006,1,6 months,0.99 $,105 minutes,10.99 $,NC-17,[Deleted Scenes],'boy':16 'canadian':19 'compos':8 'core':2 'fa...,2013-05-26,14:50:58.951000
998,999,Zoolander Fiction,A Fateful Reflection of a Waitress And a Boat ...,2006,1,5 months,2.99 $,101 minutes,28.99 $,R,"[Trailers, Deleted Scenes]",'ancient':19 'boat':11 'china':20 'discov':14 ...,2013-05-26,14:50:58.951000
999,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3 months,4.99 $,50 minutes,18.99 $,NC-17,"[Trailers, Commentaries, Behind the Scenes]","'ark':2 'boy':12,17 'intrepid':4 'mad':8 'mona...",2013-05-26,14:50:58.951000

In [348]:

df.fulltext = df.fulltext.str.split(' ')
df
#adding commas to fulltext column data

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,fulltext,last_update_date,last_update_time
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7 months,4.99 $,117 minutes,14.99 $,NC-17,[Trailers],"['chamber':1, 'fate':4, 'husband':11, 'italian...",2013-05-26,14:50:58.951000
1,384,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,2006,1,5 months,4.99 $,49 minutes,19.99 $,R,[Behind the Scenes],"['australia':18, 'cat':8, 'drama':5, 'epic':4,...",2013-05-26,14:50:58.951000
2,8,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,2006,1,6 months,4.99 $,54 minutes,15.99 $,R,[Trailers],"['airport':1, 'ancient':18, 'confront':14, 'ep...",2013-05-26,14:50:58.951000
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...,2006,1,4 months,4.99 $,73 minutes,12.99 $,PG-13,[Trailers],"['boat':20, 'bright':1, 'conquer':14, 'encount...",2013-05-26,14:50:58.951000
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6 months,0.99 $,86 minutes,20.99 $,PG,"[Deleted Scenes, Behind the Scenes]","['academi':1, 'battl':15, 'canadian':20, 'dino...",2013-05-26,14:50:58.951000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,6 months,0.99 $,183 minutes,9.99 $,G,"[Trailers, Behind the Scenes]","['administr':12, 'boat':8, 'boy':17, 'databas'...",2013-05-26,14:50:58.951000
996,997,Youth Kick,A Touching Drama of a Teacher And a Cat who mu...,2006,1,4 months,0.99 $,179 minutes,14.99 $,NC-17,"[Trailers, Behind the Scenes]","['boat':22, 'cat':11, 'challeng':14, 'drama':5...",2013-05-26,14:50:58.951000
997,998,Zhivago Core,A Fateful Yarn of a Composer And a Man who mus...,2006,1,6 months,0.99 $,105 minutes,10.99 $,NC-17,[Deleted Scenes],"['boy':16, 'canadian':19, 'compos':8, 'core':2...",2013-05-26,14:50:58.951000
998,999,Zoolander Fiction,A Fateful Reflection of a Waitress And a Boat ...,2006,1,5 months,2.99 $,101 minutes,28.99 $,R,"[Trailers, Deleted Scenes]","['ancient':19, 'boat':11, 'china':20, 'discov'...",2013-05-26,14:50:58.951000
999,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3 months,4.99 $,50 minutes,18.99 $,NC-17,"[Trailers, Commentaries, Behind the Scenes]","['ark':2, 'boy':12,17, 'intrepid':4, 'mad':8, ...",2013-05-26,14:50:58.951000

In [349]:

df = df.drop(columns = ['language_id','release_year'])
#drop unneccessary columns and rows
df = df.drop(df[df.rating == 'R'].index)
#drop R rated films
df

,film_id,title,description,rental_duration,rental_rate,length,replacement_cost,rating,special_features,fulltext,last_update_date,last_update_time
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,7 months,4.99 $,117 minutes,14.99 $,NC-17,[Trailers],"['chamber':1, 'fate':4, 'husband':11, 'italian...",2013-05-26,14:50:58.951000
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...,4 months,4.99 $,73 minutes,12.99 $,PG-13,[Trailers],"['boat':20, 'bright':1, 'conquer':14, 'encount...",2013-05-26,14:50:58.951000
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,6 months,0.99 $,86 minutes,20.99 $,PG,"[Deleted Scenes, Behind the Scenes]","['academi':1, 'battl':15, 'canadian':20, 'dino...",2013-05-26,14:50:58.951000
5,2,Ace Goldfinger,A Astounding Epistle of a Database Administrat...,3 months,4.99 $,48 minutes,12.99 $,G,"[Trailers, Deleted Scenes]","['ace':1, 'administr':9, 'ancient':19, 'astoun...",2013-05-26,14:50:58.951000
6,3,Adaptation Holes,A Astounding Reflection of a Lumberjack And a ...,7 months,2.99 $,50 minutes,18.99 $,NC-17,"[Trailers, Deleted Scenes]","['adapt':1, 'astound':4, 'baloon':19, 'car':11...",2013-05-26,14:50:58.951000
...,...,...,...,...,...,...,...,...,...,...,...,...
993,994,Wyoming Storm,A Awe-Inspiring Panorama of a Robot And a Boat...,6 months,4.99 $,100 minutes,29.99 $,PG-13,[Deleted Scenes],"['awe':5, 'awe-inspir':4, 'boat':13,23, 'femin...",2013-05-26,14:50:58.951000
995,996,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,6 months,0.99 $,183 minutes,9.99 $,G,"[Trailers, Behind the Scenes]","['administr':12, 'boat':8, 'boy':17, 'databas'...",2013-05-26,14:50:58.951000
996,997,Youth Kick,A Touching Drama of a Teacher And a Cat who mu...,4 months,0.99 $,179 minutes,14.99 $,NC-17,"[Trailers, Behind the Scenes]","['boat':22, 'cat':11, 'challeng':14, 'drama':5...",2013-05-26,14:50:58.951000
997,998,Zhivago Core,A Fateful Yarn of a Composer And a Man who mus...,6 months,0.99 $,105 minutes,10.99 $,NC-17,[Deleted Scenes],"['boy':16, 'canadian':19, 'compos':8, 'core':2...",2013-05-26,14:50:58.951000
999,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,3 months,4.99 $,50 minutes,18.99 $,NC-17,"[Trailers, Commentaries, Behind the Scenes]","['ark':2, 'boy':12,17, 'intrepid':4, 'mad':8, ...",2013-05-26,14:50:58.951000

In [350]:
df = df.sort_values(by='film_id')
df = df.reset_index()
df = df.drop(columns='index')
df
#sorting the index values

,film_id,title,description,rental_duration,rental_rate,length,replacement_cost,rating,special_features,fulltext,last_update_date,last_update_time
0,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,6 months,0.99 $,86 minutes,20.99 $,PG,"[Deleted Scenes, Behind the Scenes]","['academi':1, 'battl':15, 'canadian':20, 'dino...",2013-05-26,14:50:58.951000
1,2,Ace Goldfinger,A Astounding Epistle of a Database Administrat...,3 months,4.99 $,48 minutes,12.99 $,G,"[Trailers, Deleted Scenes]","['ace':1, 'administr':9, 'ancient':19, 'astoun...",2013-05-26,14:50:58.951000
2,3,Adaptation Holes,A Astounding Reflection of a Lumberjack And a ...,7 months,2.99 $,50 minutes,18.99 $,NC-17,"[Trailers, Deleted Scenes]","['adapt':1, 'astound':4, 'baloon':19, 'car':11...",2013-05-26,14:50:58.951000
3,4,Affair Prejudice,A Fanciful Documentary of a Frisbee And a Lumb...,5 months,2.99 $,117 minutes,26.99 $,G,"[Commentaries, Behind the Scenes]","['affair':1, 'chase':14, 'documentari':5, 'fan...",2013-05-26,14:50:58.951000
4,5,African Egg,A Fast-Paced Documentary of a Pastry Chef And ...,6 months,2.99 $,130 minutes,22.99 $,G,[Deleted Scenes],"['african':1, 'chef':11, 'dentist':14, 'docume...",2013-05-26,14:50:58.951000
...,...,...,...,...,...,...,...,...,...,...,...,...
800,994,Wyoming Storm,A Awe-Inspiring Panorama of a Robot And a Boat...,6 months,4.99 $,100 minutes,29.99 $,PG-13,[Deleted Scenes],"['awe':5, 'awe-inspir':4, 'boat':13,23, 'femin...",2013-05-26,14:50:58.951000
801,996,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,6 months,0.99 $,183 minutes,9.99 $,G,"[Trailers, Behind the Scenes]","['administr':12, 'boat':8, 'boy':17, 'databas'...",2013-05-26,14:50:58.951000
802,997,Youth Kick,A Touching Drama of a Teacher And a Cat who mu...,4 months,0.99 $,179 minutes,14.99 $,NC-17,"[Trailers, Behind the Scenes]","['boat':22, 'cat':11, 'challeng':14, 'drama':5...",2013-05-26,14:50:58.951000
803,998,Zhivago Core,A Fateful Yarn of a Composer And a Man who mus...,6 months,0.99 $,105 minutes,10.99 $,NC-17,[Deleted Scenes],"['boy':16, 'canadian':19, 'compos':8, 'core':2...",2013-05-26,14:50:58.951000
804,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,3 months,4.99 $,50 minutes,18.99 $,NC-17,"[Trailers, Commentaries, Behind the Scenes]","['ark':2, 'boy':12,17, 'intrepid':4, 'mad':8, ...",2013-05-26,14:50:58.951000

In [351]:
df.title = df.title.str.replace(' ','_')
df
#dropping whitespace in title column

,film_id,title,description,rental_duration,rental_rate,length,replacement_cost,rating,special_features,fulltext,last_update_date,last_update_time
0,1,Academy_Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,6 months,0.99 $,86 minutes,20.99 $,PG,"[Deleted Scenes, Behind the Scenes]","['academi':1, 'battl':15, 'canadian':20, 'dino...",2013-05-26,14:50:58.951000
1,2,Ace_Goldfinger,A Astounding Epistle of a Database Administrat...,3 months,4.99 $,48 minutes,12.99 $,G,"[Trailers, Deleted Scenes]","['ace':1, 'administr':9, 'ancient':19, 'astoun...",2013-05-26,14:50:58.951000
2,3,Adaptation_Holes,A Astounding Reflection of a Lumberjack And a ...,7 months,2.99 $,50 minutes,18.99 $,NC-17,"[Trailers, Deleted Scenes]","['adapt':1, 'astound':4, 'baloon':19, 'car':11...",2013-05-26,14:50:58.951000
3,4,Affair_Prejudice,A Fanciful Documentary of a Frisbee And a Lumb...,5 months,2.99 $,117 minutes,26.99 $,G,"[Commentaries, Behind the Scenes]","['affair':1, 'chase':14, 'documentari':5, 'fan...",2013-05-26,14:50:58.951000
4,5,African_Egg,A Fast-Paced Documentary of a Pastry Chef And ...,6 months,2.99 $,130 minutes,22.99 $,G,[Deleted Scenes],"['african':1, 'chef':11, 'dentist':14, 'docume...",2013-05-26,14:50:58.951000
...,...,...,...,...,...,...,...,...,...,...,...,...
800,994,Wyoming_Storm,A Awe-Inspiring Panorama of a Robot And a Boat...,6 months,4.99 $,100 minutes,29.99 $,PG-13,[Deleted Scenes],"['awe':5, 'awe-inspir':4, 'boat':13,23, 'femin...",2013-05-26,14:50:58.951000
801,996,Young_Language,A Unbelieveable Yarn of a Boat And a Database ...,6 months,0.99 $,183 minutes,9.99 $,G,"[Trailers, Behind the Scenes]","['administr':12, 'boat':8, 'boy':17, 'databas'...",2013-05-26,14:50:58.951000
802,997,Youth_Kick,A Touching Drama of a Teacher And a Cat who mu...,4 months,0.99 $,179 minutes,14.99 $,NC-17,"[Trailers, Behind the Scenes]","['boat':22, 'cat':11, 'challeng':14, 'drama':5...",2013-05-26,14:50:58.951000
803,998,Zhivago_Core,A Fateful Yarn of a Composer And a Man who mus...,6 months,0.99 $,105 minutes,10.99 $,NC-17,[Deleted Scenes],"['boy':16, 'canadian':19, 'compos':8, 'core':2...",2013-05-26,14:50:58.951000
804,1000,Zorro_Ark,A Intrepid Panorama of a Mad Scientist And a B...,3 months,4.99 $,50 minutes,18.99 $,NC-17,"[Trailers, Commentaries, Behind the Scenes]","['ark':2, 'boy':12,17, 'intrepid':4, 'mad':8, ...",2013-05-26,14:50:58.951000

In [352]:
def sem(str0):
    if re.search('^A [AEIOU]',str0):
        str1 = 'An '+ str0[re.search('^A [AEIOU]',str0).end()-1:]
        return(str1)
    else:
        return(str0)
df.description = df.description.apply(sem)
df = df.drop(columns = ['special_features','fulltext'])
df
#editing desc, An for vowels, A for consonants

,film_id,title,description,rental_duration,rental_rate,length,replacement_cost,rating,last_update_date,last_update_time
0,1,Academy_Dinosaur,An Epic Drama of a Feminist And a Mad Scientis...,6 months,0.99 $,86 minutes,20.99 $,PG,2013-05-26,14:50:58.951000
1,2,Ace_Goldfinger,An Astounding Epistle of a Database Administra...,3 months,4.99 $,48 minutes,12.99 $,G,2013-05-26,14:50:58.951000
2,3,Adaptation_Holes,An Astounding Reflection of a Lumberjack And a...,7 months,2.99 $,50 minutes,18.99 $,NC-17,2013-05-26,14:50:58.951000
3,4,Affair_Prejudice,A Fanciful Documentary of a Frisbee And a Lumb...,5 months,2.99 $,117 minutes,26.99 $,G,2013-05-26,14:50:58.951000
4,5,African_Egg,A Fast-Paced Documentary of a Pastry Chef And ...,6 months,2.99 $,130 minutes,22.99 $,G,2013-05-26,14:50:58.951000
...,...,...,...,...,...,...,...,...,...,...
800,994,Wyoming_Storm,An Awe-Inspiring Panorama of a Robot And a Boa...,6 months,4.99 $,100 minutes,29.99 $,PG-13,2013-05-26,14:50:58.951000
801,996,Young_Language,An Unbelieveable Yarn of a Boat And a Database...,6 months,0.99 $,183 minutes,9.99 $,G,2013-05-26,14:50:58.951000
802,997,Youth_Kick,A Touching Drama of a Teacher And a Cat who mu...,4 months,0.99 $,179 minutes,14.99 $,NC-17,2013-05-26,14:50:58.951000
803,998,Zhivago_Core,A Fateful Yarn of a Composer And a Man who mus...,6 months,0.99 $,105 minutes,10.99 $,NC-17,2013-05-26,14:50:58.951000
804,1000,Zorro_Ark,An Intrepid Panorama of a Mad Scientist And a ...,3 months,4.99 $,50 minutes,18.99 $,NC-17,2013-05-26,14:50:58.951000

In [353]:
#cur.execute('CREATE TABLE PG(film_id int NOT NULL PRIMARY KEY);')
#create db entry from edited df

In [354]:
#l1 = df.columns[1:]
#for i in l1:
#    cur.execute(f'ALTER TABLE PG ADD {i} varchar(255)')
#inserting columns

In [355]:
#for k in df.values:
#     cur.execute(f"INSERT INTO PG VALUES{tuple(k)}")
#inserting values

In [356]:
#conn.commit()
#db commit

In [357]:
cur.execute('SELECT title,description,length,rental_rate FROM film WHERE length>120 AND rental_rate<5.00')
df1d = cur.fetchall()
df1 = pd.DataFrame(data=df1d, columns=['title','description','length','rental_rate'])
df1
#select specific data through SQL query

,title,description,length,rental_rate
0,African Egg,A Fast-Paced Documentary of a Pastry Chef And ...,130,2.99
1,Agent Truman,A Intrepid Panorama of a Robot And a Boy who m...,169,2.99
2,Alamo Videotape,A Boring Epistle of a Butler And a Cat who mus...,126,0.99
3,Alaska Phantom,A Fanciful Saga of a Hunter And a Pastry Chef ...,136,0.99
4,Ali Forever,A Action-Packed Drama of a Dentist And a Croco...,150,4.99
...,...,...,...,...
452,Worst Banger,A Thrilling Drama of a Madman And a Dentist wh...,185,2.99
453,Wrath Mile,A Intrepid Reflection of a Technical Writer An...,176,0.99
454,Wrong Behavior,A Emotional Saga of a Crocodile And a Sumo Wre...,178,2.99
455,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,183,0.99
456,Youth Kick,A Touching Drama of a Teacher And a Cat who mu...,179,0.99

In [358]:
cur.execute("SELECT title,description,length,rating FROM film WHERE rating='R' LIMIT 20;")
df2d = cur.fetchall()
df2 = pd.DataFrame(data=df2d, columns=['title','description','length','rating'])
df2
#select specific data through SQL query

,title,description,length,rating
0,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,49,R
1,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,54,R
2,Date Speed,A Touching Saga of a Composer And a Moose who ...,104,R
3,Alone Trip,A Fast-Paced Character Study of a Composer And...,82,R
4,Amelie Hellfighters,A Boring Drama of a Woman And a Squirrel who m...,79,R
5,American Circus,A Insightful Drama of a Girl And a Astronaut w...,129,R
6,Anaconda Confessions,A Lacklusture Display of a Dentist And a Denti...,92,R
7,Analyze Hoosiers,A Thoughtful Display of a Explorer And a Pastr...,181,R
8,Anything Savannah,A Epic Story of a Pastry Chef And a Woman who ...,82,R
9,Apocalypse Flamingos,A Astounding Story of a Dog And a Squirrel who...,119,R
10,Army Flintstones,A Boring Saga of a Database Administrator And ...,148,R
11,Badman Dawn,A Emotional Panorama of a Pioneer And a Compos...,162,R
12,Banger Pinocchio,A Awe-Inspiring Drama of a Car And a Pastry Ch...,113,R
13,Bear Graceland,A Astounding Saga of a Dog And a Boy who must ...,160,R
14,Beast Hunchback,A Awe-Inspiring Epistle of a Student And a Squ...,89,R
15,Beverly Outlaw,A Fanciful Documentary of a Womanizer And a Bo...,85,R
16,Boogie Amelie,A Lacklusture Character Study of a Husband And...,121,R
17,Boulevard Mob,A Fateful Epistle of a Moose And a Monkey who ...,63,R
18,Brooklyn Desert,A Beautiful Drama of a Dentist And a Composer ...,161,R
19,Brotherhood Blanket,A Fateful Character Study of a Butler And a Te...,73,R

In [359]:
cur.execute('SELECT avg(rental_rate),rating FROM film GROUP BY rating')
df3d = cur.fetchall()
df3 = pd.DataFrame(data=df3d, columns=['avg_rental_rate','rating'])
df3
#select specific data through SQL query

      avg_rental_rate rating
0  2.9387179487179487      R
1  3.0518556701030928     PG
2  3.0348430493273543  PG-13
3  2.8888764044943820      G
4  2.9709523809523810  NC-17

In [360]:
cur.execute('SELECT max(length),rental_duration FROM film GROUP BY rental_duration ORDER BY rental_duration DESC')
df4d = cur.fetchall()
df4 = pd.DataFrame(data=df4d, columns=['max_length','rental_duration'])
df4
#select specific data through SQL query

   max_length  rental_duration
0         185                7
1         185                6
2         184                5
3         185                4
4         185                3

In [361]:
cur.execute('SELECT count(*) FROM film')
dbd = cur.fetchall()
dbd
#select specific data through SQL query

[(1000,)]

In [362]:
cur.execute('SELECT rating,replacement_cost,count(*) AS fcount FROM film GROUP BY rating,replacement_cost HAVING count(*) > 20')
df5d = cur.fetchall()
df5 = pd.DataFrame(data=df5d, columns=['rating','replacement_cost'])
df5
#select specific data through SQL query

Empty DataFrame
Columns: [rating, replacement_cost]
Index: []