In [1]:
#model vs model - classification, gridsearch to find best model
#target var - loan condition

In [28]:
import pandas as pd
bankdata = pd.read_csv("loan_final313.csv")
bankdata

,id,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,...,loan_condition_cat,interest_rate,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
0,1077501,2011,01/12/2011,1012015,10.0,RENT,1,Low,24000,1,...,0,10.65,B,2,27.65,5861.071414,5000.00,0.00,162.87,munster
1,1077430,2011,01/12/2011,1042013,0.5,RENT,1,Low,30000,1,...,1,15.27,C,3,1.00,1008.710000,456.46,117.08,59.83,leinster
2,1077175,2011,01/12/2011,1062014,10.0,RENT,1,Low,12252,1,...,0,15.96,C,3,8.72,3003.653644,2400.00,0.00,84.33,cannught
3,1076863,2011,01/12/2011,1012015,10.0,RENT,1,Low,49200,1,...,0,13.49,C,3,20.00,12226.302210,10000.00,0.00,339.31,ulster
4,1075358,2011,01/12/2011,1012016,1.0,RENT,1,Low,80000,1,...,0,12.69,B,2,17.94,3242.170000,2233.10,0.00,67.79,ulster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887374,36371250,2015,01/01/2015,1012016,8.0,RENT,1,Low,31000,1,...,0,11.99,B,2,28.69,3971.880000,2944.53,0.00,332.10,ulster
887375,36441262,2015,01/01/2015,1012016,10.0,MORTGAGE,3,Low,79000,1,...,0,11.99,B,2,3.90,9532.390000,7066.74,0.00,797.03,Northern-Irl
887376,36271333,2015,01/01/2015,1012016,5.0,RENT,1,Low,35000,1,...,0,15.99,D,4,30.90,3769.740000,1844.50,0.00,316.07,leinster
887377,36490806,2015,01/01/2015,1012016,1.0,RENT,1,Low,64400,1,...,0,19.99,E,5,27.19,3787.670000,1552.69,0.00,317.86,Northern-Irl
887378,36271262,2015,01/01/2015,1012016,10.0,RENT,1,Low,100000,1,...,0,11.99,B,2,10.83,7943.760000,5889.06,0.00,664.20,leinster

In [29]:
b1 = pd.DataFrame({'income_category':bankdata.income_category,'loan_amount':bankdata.loan_amount,'region':bankdata.region,'loan_condition':bankdata.loan_condition})
b1

       income_category  loan_amount        region loan_condition
0                  Low         5000       munster      Good Loan
1                  Low         2500      leinster       Bad Loan
2                  Low         2400      cannught      Good Loan
3                  Low        10000        ulster      Good Loan
4                  Low         3000        ulster      Good Loan
...                ...          ...           ...            ...
887374             Low        10000        ulster      Good Loan
887375             Low        24000  Northern-Irl      Good Loan
887376             Low        13000      leinster      Good Loan
887377             Low        12000  Northern-Irl      Good Loan
887378             Low        20000      leinster      Good Loan

[887379 rows x 4 columns]

In [ ]:
import numpy as np
from sklearn import datasets,preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score
X = list()
y = list()
for i in range(len(b1.index)):
    X.append([b1.income_category[i],b1.loan_amount[i],b1.region[i]])
    y.append((b1.loan_condition[i]))
#define target and feature variables
enc = OneHotEncoder(handle_unknown = 'ignore')
lenc = LabelEncoder()
#encode feature variables as binary arrays
X = enc.fit_transform(X)
y = lenc.fit_transform(y)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
#divide train/test
parameters = [{'n_neighbors': [3, 5, 7, 9],'weights': ['uniform', 'distance']}]
knn = KNeighborsClassifier()
#define knn model and find optimal hyperparameters
kngs = GridSearchCV(knn, parameters,scoring='accuracy',cv=10)
kngs.fit(X_train,y_train)
y_pred = kngs.predict(X_test)
#fit, predict and score accuracy
accuracy_score(y_pred,y_test)

In [26]:
import numpy as np
from sklearn import datasets,preprocessing
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.svm import SVC
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score
X = list()
y = list()
for i in range(len(b1.index)):
    X.append([b1.income_category[i],b1.loan_amount[i],b1.region[i]])
    y.append((b1.loan_condition[i]))
#define target and feature variables
enc = OneHotEncoder(handle_unknown = 'ignore')
lenc = LabelEncoder()
#encode feature variables as binary arrays
X = enc.fit_transform(X)
y = lenc.fit_transform(y)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
#divide vars into train/test
parameters = {'kernel':('linear', 'rbf'), 'C':[1,10]}
svc = SVC()
#define svc model and find optimal hyperparameters 
clf = GridSearchCV(svc, parameters,scoring='accuracy',cv=10)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
#fit, predict and score accuracy
accuracy_score(y_pred,y_test)

0.824

In [24]:
import numpy as np
from sklearn import datasets,preprocessing
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score
X = list()
y = list()
for i in range(len(b1.index)):
    X.append([b1.income_category[i],b1.loan_amount[i],b1.region[i]])
    y.append((b1.loan_condition[i]))
#define target and feature variables
enc = OrdinalEncoder()
lenc = LabelEncoder()
#encode feature variables as binary arrays
X = enc.fit_transform(X)
y = lenc.fit_transform(y)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
#divide vars into train/test
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred = gnb.predict(X_test)
#fit, predict and score accuracy
accuracy_score(y_pred,y_test)

0.828